<ul>
  <% parent.comments.each do |baby_comment| %>

    <% unless visited.include?(baby_comment.id)%>

    <li>
        <% link = comment_url(baby_comment.id) %>
        <%= render :partial => "comments/comment_display", locals: {comment: baby_comment, destination: link, anchor_text: "link" }%>

      <% visited << baby_comment.id %>
      <br><br>
      <%= render :partial => "comments/all_children", locals: {parent: baby_comment, visited: visited} if baby_comment.comments %>

    </li>

    <% end %>

  <% end %>
</ul>
