<% if @comment.comment_id %>
  <% parent_link = comment_url(@comment.comment_id) %>
<% else %>
  <% parent_link = post_url(@comment.post_id) %>
<% end %>

<%= render :partial => "comment_display", locals: {comment: @comment, destination: parent_link, anchor_text: "parent" }%>

<%= render :partial => "comment_show_form", locals: {new_comment: @new_comment, comment: @comment}%>

<ul>
  <% @comment.comments.each do |baby_comment| %>
  <li>

    <% parent_link = comment_url(baby_comment.comment_id) %>

    <%= render :partial => "comment_display", locals: {comment: baby_comment, destination: parent_link, anchor_text: "parent" }%>
    <br><br>

  </li>
  <% end %>
</ul>




