<form action="<%= vote_url%>" method="post">
  <input type="hidden" name="vote[post_id]" value="<%= post.id%>">
  <input type="hidden" name="vote[user_id]" value="<%= current_user_id%>">

  <input type="submit" name="commit" value="Upvote!">
</form>